
@media only screen and (max-width: 768px){
  .body-content{
    padding: 0;
  }
}

  .edit-profile{
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    margin-top: 50px;
    padding: 20px;
    background: #313131;
    color: white;
  }
  .photo, .photo > img{
    width: 150px;
    height: 150px;
    border-radius: 51%;
    z-index: 1;
  }
  .nickname, .chgNickName{
    width: 150px;  
  }
  .nickname{
    margin-top: 10px;
  }
  .chgNickName{
    border: none;
    border-bottom: solid 3px green;
    outline: none;
    text-align: center;
  }
    .photo > div{
    width: 150px;
    height: 150px;
    border-radius: 51%;
    color: black !important;
    position: relative;
    top: -150px;
    color: white;
    font-size: 20px;
    z-index: 2;
    text-align: center;
    background: white;
    opacity: .4;
    transition: opacity .5s;
    cursor: pointer;
    line-height: 150px;
  }
  .photo > div:hover{
    opacity: .8;
  }
  #uploadedFile{
    display: none;
  }
  .sbm{
    margin-top: 30px;
    width: 150px;
  }
  .sbm > input{
    width: 150px
  }