.index-text-logo{
  position: absolute;
  font-weight: bold;
  font-size: 50px;
  top: calc(50vh - 80px);
  width: 100%;
  text-align: center;
  color: black;
}
.index-logo{
  background-color: #313131;
  height: 100vh;
  width: 100%;
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  animation: Hidden 2s 1.5s forwards;
}
@keyframes Hidden{
  from{
    top:0;
  }
  to{
    top:-2000px;
  }
}