#company, #about, #logo {
    margin-left: 5px;
}

#map {
    margin: 15px auto 10px;
    height: 600px;
    width: 100%;
    /*max-width: 1200px;*/
}


#quest {
    margin-left: calc(50% - 175px);
    margin-top: 30px;
    padding: auto auto;
}

.block {
    padding: auto;
    margin-bottom: 30px;
}

.block-head {
    margin: 5px 0;
}

.answer {
    margin: 3px 0;
}

.answer-creator {
    /*margin: 3px 0;*/
}
