@{
    ViewBag.Title = "Specialty";
}

@Styles.Render("~/Content/specialty.css")


<div class="cntr-specialty">

</div>
<div class="preview-specialty">
    <div class="picture">
        <img src="~/Content/Images/maxresdefault.jpg" alt="specialty">
    </div>
    <div class="header-info">
        <p>Студенти здобувають знання, на основі яких можуть створювати програмне забезпечення з використанням методів штучного інтелекту, використовувати хмарні обчислення для збирання, зберігання, пошуку, аналізу і візуалізації великих даних (Big Data), забезпечувати належний рівень безпеки у всіх видах комп’ютерних систем, розробляти веб-додатки баз даних, електронної комерції, корпоративних систем та веб-сервіси обміну інформації.</p>
    </div>
    <div class="main-act">
        <div class="main-dysc">
            <h3>Основні дисципліни</h3>
            <ul>
                <li>Основи штучного інтелекту</li>
                <li>Аналіз даних</li>
                <li>Хмарні обчислення</li>
                <li>Інфраструктура інформаційних технологій</li>
                <li>Управління проектами</li>
                <li>Організація баз даних</li>
                <li>Веб-програмування</li>
                <li>Алгоритми і структури даних</li>
                <li>Основи програмування</li>
                <li>і алгоритмічні мови</li>
                <li>Дослідження операцій</li>
                <li>Теорія ймовірностей</li>
                <li>Математичний аналіз</li>
                <li>Математична статистика</li>
            </ul>
        </div>
        <div class="professions">
            <p><strong>Основні посади</strong></p>
            <ul>
                <li>Web Application Developer</li>
                <li>Ux/ui Designer</li>
                <li>Mobile Application Developer</li>
                <li>Quality Control Engineer</li>
                <li>System Administrator</li>
                <li>Data Science Engineer</li>
            </ul>
        </div>
    </div>
    <div class="footer-info">
        <h3>Чому потрібно здобувати фах ІТ-спеціаліста?</h3>
        <p>
            Чому потрібно здобувати фах ІТ-спеціаліста?
            За дослідженнями аналітиків, у світі бракує фахівців з інформаційних технологій. Щороку в Україні кількість вакансій у сфері ІТ збільшує­ться на 10–20%.
            Випускники можуть працювати в українських та закордонних ІТ-компаніях, у високотехнологічних стартапах або почати власний бізнес.
        </p>
    </div>
</div>