@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p onclick="fb_login();return false;">Use this area to provide additional information.</p>


@Scripts.Render("~/bundles/jquery")
<script>

    function handle_fb_data(response) {
        debugger
        FB.api('/me', function (response) {
            console.log('Successful login for: ' + response.name);
            console.log('Прилитело из ФБ: ' + JSON.stringify(response));
            //            alert('Прилитело из ФБ: '+JSON.stringify(response));

            $.ajax({
                type: 'post',
                url: '../Controllers/AccountController.cs',
                data: response,
                success: function (msg) {
                    console.log(msg);
                    if ((msg == 'зарегались') || (msg == 'залогинились')) { window.location.reload(); }
                },
                error: function () { }
            })
        });
    }

    function fb_login() {
        FB.getLoginStatus(function (response) {
            if (response.authResponse) {
                console.log('Welcome!  Fetching your information.... ');
                handle_fb_data(response);
            } else {
                console.log('Юзер был не залогинен в самом ФБ, запускаем окно логинизирования');
                FB.login(function (response) {
                    if (response.authResponse) {
                        console.log('Welcome!  Fetching your information.... ');
                        handle_fb_data(response);
                    } else {
                        console.log('Походу пользователь передумал логиниться через ФБ');
                    }
                });
            }
        }, {
                scope: 'email,id,name'
            });
    }

    window.fbAsyncInit = function () {
        FB.init({
            appId: '415841762341204',
            cookie: true,  // enable cookies to allow the server to access
            // the session
            xfbml: true,  // parse social plugins on this page
            version: 'v3.3' // use graph api version 2.8
        });
    };
    // Load the SDK asynchronously
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";

        fjs.parentNode.append(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

</script>
