@{
    ViewBag.Title = "ChatRoom";
}

@Styles.Render("~/Content/chatroom.css")

<h2>Чат-кімната</h2>

<div class="chat-room-block">

    <div>
        <img src="~/Content/Images/user_anonim.png" alt="userPhoto" />
        alex11111
        <div>21:20:40</div>
        <p>textdasdsadasdasda textdasdsadasdasda textdasdsadasdasda textdasdsadasdasda textdasdsadasdasda textdasdsadasdasda textdasdsadasdasda</p>
    </div>
    <div>
        <img src="~/Content/Images/user_anonim.png" alt="userPhoto" />
        Roman2288
        <div>21:20:40</div>
        <p>textdasdsadasdasda textdasdsadasdasda textdasdsadasdasda textdasdsadasdasda textdasdsadasdasda textdasdsadasdasda textdasdsadasdasda</p>
    </div>
    <div>
        <img src="~/Content/Images/user_anonim.png" alt="userPhoto" />
        Nagibator13337
        <div>21:20:40</div>
        <p>textdasdsadasdasda textdasdsadasdasda textdasdsadasdasda textdasdsadasdasda textdasdsadasdasda textdasdsadasdasda textdasdsadasdasda</p>
    </div>

</div>
