@{
    ViewBag.Title = "ChatRoom";
}

@Styles.Render("~/Content/chatroom-replace.css")

<h2>Чат-кімната</h2>

<div class="chat-room-block">
    <div class="chat-control">
        <input class="form-control" type="text" name="msg" placeholder="Ваше повідомлення" />
        <input class="btn btn-success" type="button" name="Відправити" value="Відправити" />
    </div>
        <div class="chat-logs">
            <div>
                <img src="~/Content/Images/user_anonim.png" alt="userPhoto" />
                alex111
                <div><span><i class=" material-icons">edit</i><i class=" material-icons">restore_from_trash</i></span>22:08:13</div>
                <p>
                    Hi
                </p>

            </div>
            <div>
                <img src="~/Content/Images/user_anonim.png" alt="userPhoto" />
                Liza
                <div>21:19:40</div>
                <p>Привіт</p>
            </div>
            <div>
                <img src="~/Content/Images/user_anonim.png" alt="userPhoto" />
                JeniaSh
                <div>21:19:01</div>
                <p>Всім привіт</p>
            </div>
            
        </div>
</div>